* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0, 2);
  --switch-bg-url: url(./assets/assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/assets/sun.svg);

}

/* media query */
body {
  /*background-image: url(./assets/assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;*/

  background: var(--bg-url) no-repeat top center / cover; /* shorthand (atalho) */
}

/* media query */
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color); /* cor do texto */
}

#container {
  /* id */
  width: 360px; /* largura */
  margin: 56px auto 0px; /* espaçamento */
  padding: 0px 24px; /* espaçamento interno */
}

/*profile*/
#profile {
  /* id */
  text-align: center;
  padding: 24px;
}

#profile img {
  /* id */
  width: 112px;
}

#profile p {
  /* id */
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/*switch*/
#switch {
  /* id */
  position: relative; /* posição relativa */
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%; /* borda */

  position: absolute; /* posição absoluta */
  top: 50%; /* alinha ao centro */
  left: 0; /* alinha a esquerda */
  z-index: 1; /* sobrepor */
  transform: translateY(-50%); /* alinha ao centro */
}

.light #switch button {
  right: 0; /* alinha a direita */
  left: initial; /* alinha a esquerda */
}

#switch span {
  display: block;
  width: 64px;
  height: 24px; /* altura */
  background: var(--surface-color); /* cor de fundo */
  border: 1px solid var(--stroke-color); /* borda */
  backdrop-filter: blur(4px); /* desfoque */
  -webkit-backdrop-filter: blur(4px); /* desfoque */
  border-radius: 9999px; /* borda */
}

/* links */
ul {
  list-style: none; /* remove as bolinhas */
  display: flex; /* alinha os elementos horizontalmente */
  flex-direction: column; /* alinha os elementos verticalmente */
  gap: 16px; /* espaçamento entre os elementos */

  padding: 24px 0px; /* espaçamento interno */
}

ul li a {
  display: flex; /* alinha os elementos horizontalmente */
  align-items: center; /* alinha os elementos verticalmente */
  justify-content: center; /* alinha os elementos horizontalmente */

  padding: 16px 24px; /* espaçamento interno */

  background: var(--surface-color); /* cor de fundo */
  border: 1px solid var(--stroke-color); /* borda */
  border-radius: 8px;

  backdrop-filter: blur(4px); /* desfoque */
  -webkit-backdrop-filter: blur(4px); /* desfoque para o safari */

  text-decoration: none; /* remove o sublinhado */
  font-weight: 500; /* negrito */
  transition: background 0.2s;
}

/*pseudo-selector*/
ul li a:hover {
  background-color: var(--surface-color-hover); /* cor de fundo */
  border: 1.5px solid var(--text-color); /* borda */
}

/*social-links*/
#social-links {
  display: flex; /* alinha os elementos horizontalmente */
  justify-content: center; /* alinha os elementos horizontalmente */

  padding: 24px 0px; /* espaçamento interno */
  font-size: 24px; /* tamanho da fonte */
}

#social-links a {
  display: flex; /* alinha os elementos horizontalmente */
  align-items: center; /* alinha os elementos verticalmente */
  justify-content: center; /* alinha os elementos horizontalmente */

  transition: background 0.1s; /* transição de cor de fundo */
  padding: 16px; /* espaçamento interno */
  border-radius: 50%; /* borda */
}

#social-links a:hover {
  background: var(--highlight-color); /* cor de fundo */
  padding: 16px; /* espaçamento interno */
}

footer {
  padding: 24px 0;
  text-align: center;
}
